[submodule "modules/MMM-Snow"]
	path = modules/MMM-Snow
	url = https://github.com/MichMich/MMM-Snow.git
[submodule "modules/MMM-Instagram"]
	path = modules/MMM-Instagram
	url = https://github.com/jeffjoe/MMM-Instagram.git
[submodule "modules/MMM-AirQuality"]
	path = modules/MMM-AirQuality
	url = https://github.com/CFenner/MMM-AirQuality.git
